[submodule "onethroughnine/themes/themes/loficode"]
	path = onethroughnine/themes/themes/loficode
	url = https://github.com/raisingpixels/loficode-hugo-theme.git
[submodule "onethroughnine/public"]
	path = onethroughnine/public
	url = git@github.com:onethroughnine/onethroughnine.github.io.git
	branch = main
